<div class="row main-container__articles" >
    <div class="col-md-2">
        <h4>Filtrar por</h4>
        <hr>
        <p><a href="" ng-click="all()">Mostrar todo</a></p>

        <h5>Marca</h5>

        <div class="main-container__articles__side-filter" >
            <p ng-repeat="trade in trades">
                <a href="" ng-click=" tradeFilter(trade)">{{trade | capitalizeFirst:1}}</a>
            </p>
        </div>
        <h5>Rubro</h5>
        <p class="main-container__articles__side-filter" ng-repeat="subcategory in subcategories">
            <a href="" ng-click=" subcatFilter(subcategory)">{{subcategory | capitalizeFirst:1}}</a>
        </p>

    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-lg-6">
                <ol class="breadcrumb">
                    <li><a href="#">{{category}}</a></li>
                    <li><a href="#">{{nav.subcategory}}</a></li>
                    <li class="active">{{nav.trade}}</li>
                </ol>
            </div>
            <div class="col-lg-6"></div>
        </div>
        <div class="row">
            <div class="col-lg-3" ng-repeat="article in articles " ng-if = " filterArticles(article.trade , article.subcategory)">
                <div class="thumbnail">
                  <img ng-src="img/articles_images/{{article.img}}" alt="...">
                  <div class="caption">
                    <p>{{article.description}}</p>
                    <h4>{{article.trade}}</h4>
                    <h3 class="price">$ {{article.price}}</h3>
                    <p class="text-center"><a href="#" class="btn btn-success" role="button"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Agregar a carrito</a></p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
