.navbar{
    font-family: $font-family-primary;
  &.navbar-default{
    .nav-top{
      background-color: $primary-color;
      padding-bottom: 10px;
    }
    .nav-bottom{
      background: linear-gradient(to bottom, #fff 0%, #E2E2E2 100%);
      padding-left: 10%;
      .navbar-nav{
        li a{
          color:#000;
        }
      }
    }
    .navbar-nav{
      li a{
        color:$font-color-white;
      }
    }
  }//navbar-default
  .divider{
    padding-top: 14px;
  }
  .right-nav{
    padding-top: 20px;
    padding-left: 5%;
    #search-products{
      input{
        width:500px;
      }
    #submit-search{
      background-color: $secondary-color;
      border-color: $secondary-color;
      color: white;
      cursor: pointer;
    }
    }
  }
  .navbar-left{
    padding-left: 10%;
  }
  #logo{
    img{
      width: 300px;
    }
  }

}//.navbar

.navbar-fixed-top{
    z-index: 10 !important;
}
